<footer>
    <div class="container mt-3">
        <br>
        <img src="../../static/img/logo/footer/SenangBantu 1.png" alt="logofooter1">
        <br>
        <div class="row">
            <div class="col p-3">
                <p class="footer">Senangbantu.com adalah sebuah web yang dibangun Khusus untuk menggalang dana yang didedikasikan untuk umat muslim</p>
                <h1 class="footer">Alamat kantor</h1>
                <p class="footer">Jl. Batik Saketi No.1, Sukaluyu Kec. Cibeunying Kaler Kota Bandung</p>

            </div>

            <div class="col p-3">
                <h1 class="footer2">Lear</h1>
                <hr class="footer">
                <p class="footer">Tentang Senangbantu</p>
                <p class="footer">Kontak kami</p>
                <p class="footer">Syarat dan ketentuan</p>
                <p class="footer">Kebijakan Privasi</p>
                <p class="footer">FAQ</p>
            </div>

            <div class="col p-3">
                <h1 class="footer2">Follow Us</h1>
                <hr class="footer">

                <div class="row col-6">
                    <div class="col">
                       <a href="#"> <i class="fa fa-facebook-square" style='font-size:36px; color:white'></i> </a>
                    </div>
                    <div class="col">
                       <a href="#"> <i class="fa fa-instagram" style='font-size:36px; color:white'></i> </a>
                    </div>
                    <div class="col">
                       <a href="#"> <i class="fa fa-twitter-square" style='font-size:36px; color:white'></i> </a>
                    </div>
                </div>

                <br><br>

                <h1 class="footer2">Unduh Aplikasi</h1>
                <hr class="footer">

                <div class="row col-4">
                    <div class="col">
                       <a href="#"> <i class="fa fa-apple" style='font-size:36px; color:white'></i> </a>
                    </div>
                    <div class="col">
                       <a href="#"> <i class="fa fa-play-circle" style='font-size:36px; color:white'></i> </a>
                    </div>
                </div>

            </div>

        </div>

            <div class="tulisan">
                <center>
                Copyright &copy; 2021 Karya Senang Bantu
                </center>
            </div>


    </div>



</footer>