<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ url_for ('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/ini.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/responsive.css') }}">

    <!-- Panggil Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    {% include 'include/navbar.html' %}

    {% block body %} {% endblock %}

    {% include 'include/footer.html' %}


    <script src="{{ url_for ('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>
</html>
